html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("fonts/OpenSans-Normal.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("fonts/OpenSans-Light.ttf") format("ttf"); }

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("fonts/OpenSans-Semibold.ttf") format("ttf"); }

body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  background-color: #263238; }

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 400px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }
  .player .player__header {
    position: relative;
    background-color: #81C784;
    height: 100px; }
    .player .player__header .player__visualizer {
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 100px; }
    .player .player__header .player__title {
      position: absolute;
      right: 10px;
      bottom: 10px;
      left: 10px;
      font-size: 1em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      color: #FFF;
      white-space: nowrap;
      overflow: hidden; }
    .player .player__header .player__volume {
      position: absolute;
      top: 10px;
      left: 10px;
      font-family: "icomoon";
      color: #FFF;
      font-size: 1.5em; }
      .player .player__header .player__volume::after, .player .player__header .player__volume.volume-3::after {
        content: "\e90c"; }
      .player .player__header .player__volume.volume-2::after {
        content: "\e90b"; }
      .player .player__header .player__volume.volume-1::after {
        content: "\e90a"; }
      .player .player__header .player__volume.volume-0::after {
        content: "\e908"; }
  .player .player__body {
    padding: 10px; }
    .player .player__body .player__progress {
      position: relative;
      height: 10px; }
      .player .player__body .player__progress .progress__current, .player .player__body .player__progress .progress__total {
        position: absolute;
        display: block;
        width: 50px;
        font-weight: 300;
        font-size: .7em;
        color: #616161; }
      .player .player__body .player__progress .progress__total {
        right: 0;
        text-align: right; }
      .player .player__body .player__progress .progress__bar {
        position: absolute;
        top: 2px;
        right: 50px;
        left: 50px;
        height: 6px;
        border-radius: 3px;
        background-color: #C8E6C9; }
        .player .player__body .player__progress .progress__bar .bar {
          position: absolute;
          height: 6px;
          background-color: #4CAF50;
          border-radius: 3px;
          z-index: 2000; }
        .player .player__body .player__progress .progress__bar .cursor {
          position: absolute;
          top: -3px;
          left: 0%;
          width: 12px;
          height: 12px;
          margin-left: -6px;
          background-color: #388E3C;
          border-radius: 50%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          cursor: pointer;
          z-index: 3000; }
        .player .player__body .player__progress .progress__bar .buffer {
          position: absolute;
          height: 6px;
          border-radius: 3px;
          background-color: #A5D6A7;
          z-index: 1000; }
    .player .player__body .player__controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-top: 20px; }
      .player .player__body .player__controls > button {
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 1.5em;
        font-family: "icomoon";
        color: #9E9E9E;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        -webkit-transition-duration: .5s;
                transition-duration: .5s; }
        .player .player__body .player__controls > button:hover {
          color: #616161; }
        .player .player__body .player__controls > button.active {
          color: #4CAF50; }
        .player .player__body .player__controls > button.controls__random::after {
          content: "\e904"; }
        .player .player__body .player__controls > button.controls__prev::after {
          content: "\e903"; }
        .player .player__body .player__controls > button.controls__mode::after, .player .player__body .player__controls > button.controls__mode.play::after {
          content: "\e902"; }
        .player .player__body .player__controls > button.controls__mode.pause::after {
          content: "\e901"; }
        .player .player__body .player__controls > button.controls__next::after {
          content: "\e900"; }
        .player .player__body .player__controls > button.controls__loop::after {
          content: "\e905"; }
        .player .player__body .player__controls > button.controls__volume-less::after {
          content: "\e906"; }
        .player .player__body .player__controls > button.controls__volume-plus::after {
          content: "\e907"; }
