html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background-color: #263238;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000; }

* {
  box-sizing: border-box; }

#player {
  display: none; }

.player {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .player .player__header {
    position: relative;
    height: 140px;
    overflow: hidden;
    background-color: #81C784; }
    .player .player__header .header__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 120%;
      background-position: center; }
    .player .player__header .header__cover {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 60px;
      height: 60px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
      border: 2px solid #FFF; }
    .player .player__header .header__author, .player .player__header .header__title {
      position: absolute;
      left: 100px;
      color: #FFF;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }
    .player .player__header .header__author {
      bottom: 50px;
      font-size: 1.2em; }
    .player .player__header .header__title {
      bottom: 30px;
      font-size: .8em; }
    .player .player__header .header__drawer {
      position: absolute;
      top: 0;
      left: 0;
      background-color: transparent; }
  .player .player__progress {
    position: relative;
    height: 30px;
    line-height: 30px;
    background-color: #455A64;
    touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .player .player__progress .progress__current, .player .player__progress .progress__total {
      position: absolute;
      font-size: .7em;
      color: #FFF; }
    .player .player__progress .progress__current {
      left: 10px; }
    .player .player__progress .progress__total {
      right: 10px; }
    .player .player__progress .progress__bar {
      position: absolute;
      top: 12px;
      right: 60px;
      left: 60px;
      background-color: #37474F;
      height: 6px;
      border-radius: 3px; }
      .player .player__progress .progress__bar .buffer, .player .player__progress .progress__bar .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 6px;
        border-radius: 3px; }
      .player .player__progress .progress__bar .buffer {
        background-color: #546E7A; }
      .player .player__progress .progress__bar .bar {
        background-color: #66BB6A; }
      .player .player__progress .progress__bar .cursor {
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 12px;
        margin: -3px -6px;
        background-color: #4CAF50;
        border-radius: 50%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
        cursor: pointer; }
  .player .player__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    background-color: #CFD8DC; }
    .player .player__controls > * {
      height: 60px;
      line-height: 60px;
      text-align: center; }
    .player .player__controls .controls__settings, .player .player__controls .controls__volume {
      -webkit-box-flex: 25%;
          -ms-flex: 25% 0 0px;
              flex: 25% 0 0; }
    .player .player__controls .controls__manage {
      -webkit-box-flex: 50%;
          -ms-flex: 50% 0 0px;
              flex: 50% 0 0; }
    .player .player__controls button {
      background: none;
      border: none;
      font-size: 1.2em;
      color: #9E9E9E;
      cursor: pointer;
      outline: none;
      width: 30px; }
      .player .player__controls button:hover {
        color: #616161; }
      .player .player__controls button.active {
        color: #4CAF50; }
      .player .player__controls button::after {
        font-family: "fontawesome"; }
      .player .player__controls button.controls__loop::after {
        content: "\f01e"; }
      .player .player__controls button.controls__random::after {
        content: "\f074"; }
      .player .player__controls button.controls__prev::after {
        content: "\f04a"; }
      .player .player__controls button.controls__mode::after, .player .player__controls button.controls__mode.play::after {
        content: "\f04b"; }
      .player .player__controls button.controls__mode.pause::after {
        content: "\f04c"; }
      .player .player__controls button.controls__next::after {
        content: "\f04e"; }
    .player .player__controls .controls__volume {
      position: relative; }
      .player .player__controls .controls__volume input[type="range"] {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        width: 100%;
        background-color: #66BB6A;
        height: 6px;
        border-radius: 3px; }
        .player .player__controls .controls__volume input[type="range"]::-moz-range-track {
          -moz-appearance: none;
               appearance: none;
          width: 100%;
          background-color: #66BB6A;
          height: 6px;
          border-radius: 3px; }
        .player .player__controls .controls__volume input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
                  appearance: none;
          width: 12px;
          height: 12px;
          background-color: #4CAF50;
          border-radius: 50%;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          cursor: pointer; }
        .player .player__controls .controls__volume input[type="range"]::-moz-range-thumb {
          -moz-appearance: none;
               appearance: none;
          width: 12px;
          height: 12px;
          background-color: #4CAF50;
          border-radius: 50%;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          border: none; }
        .player .player__controls .controls__volume input[type="range"]:focus {
          outline: none; }
      .player .player__controls .controls__volume .volume__bar {
        position: absolute;
        top: 27px;
        height: 6px;
        width: 100%;
        background-color: #66BB6A;
        border-radius: 3px; }
        .player .player__controls .controls__volume .volume__bar .cursor {
          position: absolute;
          top: 0;
          left: 0;
          height: 12px;
          width: 12px;
          margin: -3px -6px;
          background-color: #4CAF50;
          border-radius: 50%;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          cursor: pointer; }
  .player .player__playlist {
    counter-reset: counter;
    max-height: 200px;
    overflow-y: scroll;
    background-color: #FFF; }
    .player .player__playlist::-webkit-scrollbar {
      background-color: #E0E0E0;
      width: 5px; }
    .player .player__playlist::-webkit-scrollbar-thumb {
      background-color: #BDBDBD; }
    .player .player__playlist li {
      color: #757575;
      font-size: .9em;
      padding: 15px 20px;
      cursor: pointer; }
      .player .player__playlist li::before {
        content: counter(counter);
        counter-increment: counter;
        color: #424242;
        font-weight: 600;
        font-size: .8em;
        display: inline-block;
        width: 25px; }
      .player .player__playlist li.current::before {
        content: "\f04b";
        font-family: fontawesome;
        color: #4CAF50; }
      .player .player__playlist li:hover {
        background-color: #E0E0E0; }
      .player .player__playlist li:not(:last-child) {
        border-bottom: 1px solid #E0E0E0; }
