doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Projet JS
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/opensans.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
    body
        audio(preload="metadata")#player
        
        .player
            .player__header
                //.header__background(style="background-image: url('img/covers/Roadtrip Through Europe 13 - Jan Chmelar [Drum&Bass].jpg')")
                canvas.header__drawer
                img(src="img/covers/no-cover.png", alt="Roadtrip Through Europe 13 - Jan Chmelar [Drum&Bass]").header__cover
                span.header__author
                span.header__title
            .player__progress
                span.progress__current 00:00
                span.progress__total 00:00
                .progress__bar
                    .buffer
                    .bar
                    .cursor
            .player__controls
                .controls__settings
                    button(type="button").controls__loop
                    button(type="button").controls__random
                .controls__manage
                    button(type="button").controls__prev
                    button(type="button").controls__mode.play
                    button(type="button").controls__next
                .controls__volume
                    input(type="range", min="0", max="100", value="100")
                    //.volume__bar
                        .cursor(draggable="true")
            ol.player__playlist
        
        script(src="js/jquery.min.js")
        script(src="js/main.js")
